<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../lib/vue.min.js"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <div id='render_price' class='render'>

            <div v-bind:class="[isVisible ? 'visibleClass' : 'hiddenClass']">
                <p>{{ pricelist }}</p>
                <ul class='render__list'>

                    <li class='render__item' v-for="(item, index) in object.shopItems">
                        {{index + 1}} - {{ item }}
                    </li>
                </ul>

                <p>{{ shoplist }}</p>
                <ul class='render__list'>
                    <li class='render__item' v-for="(value, key, index) in object">
                        {{index + 1}} - {{ key }}
                    </li>
                </ul>
            </div>

            <button v-on:click.prevent="startRender">{{ button }}</button>
            <button v-if="isVisible === true" v-on:click.prevent="hideResultRender">Hide render</button>
        </div>
    </div>
</body>

<script src="script.js"></script>

</html>