<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../lib/vue.min.js"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <div id='render_price' class='render'>

            <div v-bind:class="[isVisible ? 'visibleClass' : 'hiddenClass']">
                <p>{{ shoplist }}</p>
                <ul class='render__list'>
                    <li class='render__item' v-for="(value, key, index) in object">
                        {{index + 1}} - {{ key }}
                    </li>
                </ul>
                
                <p>{{ brandlist }}</p>
                <ul class='categoryList'>
                    <template v-for="item in object.defautProps.shopGoods.data">
                        <li class='categoryList__item'>
                            <input 
                                type="checkbox" 
                                :id="item" 
                                :value="item" 
                                v-model="checkedNames"
                                v-on:change="changecategoryList">
                            <label :for="item">{{ item }}</label>
                        </li>
                    </template> 
                </ul>
                <br>
                <span>Отмеченные тип товаров: {{ checkedNames }}</span>
                
                <p>{{ pricelist }}</p>
                <ul class='render__list'>

                    <li class='render__item' v-for="(item, index) in object.shopItems">
                        <p>{{index + 1}} - { 
                            <span>{{ item.category }} </span>
                            <span>{{ item.item }} </span>
                            <span>{{ item.price }} } </span>
                        </p>
                    </li>
                </ul>
            </div>

            <button v-on:click.prevent="startRender">{{ button }}</button>
            <button v-if="isVisible === true" v-on:click.prevent="hideResultRender">Hide render</button>
        </div>
    </div>
</body>

<script src="script.js"></script>

</html>